<ion-header>
  <ion-toolbar>
    <ion-title>
      Dynamic Form
    </ion-title>
    <ion-toggle slot="end" (click)="switchReadOnly()"></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-formulaire
    #dynamicForm
    [questions]="questions"
    [readonly]="readonly"
  ></app-formulaire>

  <div>
    <ion-button expand="block" color="medium" (click)="onNext()"
      >Next</ion-button
    >
  </div>
  <div>
    <ion-button
      *ngIf="!readonly"
      expand="block"
      [disabled]="formAsChildComponent.invalid"
      (click)="onSubmit()"
      >Submit</ion-button
    >
  </div>

  <ion-card *ngIf="submittedValues">
    <ion-card-content>
      <pre>
        {{ submittedValues | json }}
      </pre>
    </ion-card-content>
  </ion-card>
</ion-content>
